.orgPage{
    display: flex;
    justify-content: center;
    min-height: 100vh;  
    padding-top: 3rem;
}



#linkBtn{
  box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.05);
}
#linkBtn:hover{
  transform: translateY(-2px);
  box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.05);
}

h4{
  color: rgb(56, 56, 56);  
     font-size: 350%;
     padding: 1rem 0px;  
}
h5{
    padding: .5rem 0rem;
}

#charCard{
  border:none;
  margin-top:0vh;
}


