.list-overflow-container {
    border: 1px #dddddd solid;
    border-radius: 4px;
    overflow-y: visible;
    overflow-x: hidden;
  }
  
  .list-overflow-container ul {
    margin: 0px;
  }
  
  .list-overflow-container li {
    border-radius: 0px;
    border-left: none;
    border-right: none;
  }
  
  .list-overflow-container li * {
    cursor: pointer;
  }
  
  .list-overflow-container li a {
    color: #2a878c;
  }
  
  .list-overflow-container li:first-child {
    border-top: none;
  }
  
  .list-overflow-container li:last-child {
    border-bottom: none;
  }