.footer{
   
    bottom:0;
    width:100%;
    line-height:2em;
    margin-top: 0;
    padding:25px 0px 0px 0px;
    
    text-align:center;
    align-items: center;
    background-color:rgb(51, 51, 51);
}

  #createdBy{
    font-family:Georgia, 'Times New Roman', Times, serif, sans-serif;
    font-size:10px;
  }
