.main-navigation{
    background-color: rgb(240, 249, 255) !important; 
    min-height: 8vh;
    align-items: center;
}


.logo {
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 30px;
}

.login-btn{
    display:flex;
    justify-content: flex-end;
    box-shadow: 1px 5px 5px rgba(0, 0, 0, 0.1);
}
.login-btn:hover{
    transform: translateY(-2px);
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.15);
}

